@font-face {
  font-family: 'icomoon';
  src:  url('https://dl.dropboxusercontent.com/s/f6by5h591jte9z6/icomoon.eot?x4fq9a');
  src:  url('https://dl.dropboxusercontent.com/s/f6by5h591jte9z6/icomoon.eot?x4fq9a#iefix') format('embedded-opentype'),
    url('https://dl.dropboxusercontent.com/s/q76kzcgmzrsd1h8/icomoon.woff2?x4fq9a') format('woff2'),
    url('https://dl.dropboxusercontent.com/s/mr30nicp2xjfp8x/icomoon.ttf?x4fq9a') format('truetype'),
    url('https://dl.dropboxusercontent.com/s/uuubgqjv0tdfb8b/icomoon.woff?x4fq9a') format('woff'),
    url('https://dl.dropboxusercontent.com/s/1nnwh5jenbxizrk/icomoon.svg?x4fq9a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="moon-"], [class*=" moon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.moon-home:before {
  content: "\e600";
}
.moon-home2:before {
  content: "\e601";
}
.moon-home3:before {
  content: "\e602";
}
.moon-home4:before {
  content: "\e603";
}
.moon-home5:before {
  content: "\e604";
}
.moon-home6:before {
  content: "\e605";
}
.moon-bathtub:before {
  content: "\e606";
}
.moon-toothbrush:before {
  content: "\e607";
}
.moon-bed:before {
  content: "\e608";
}
.moon-couch:before {
  content: "\e609";
}
.moon-chair:before {
  content: "\e60a";
}
.moon-city:before {
  content: "\e60b";
}
.moon-apartment:before {
  content: "\e60c";
}
.moon-pencil:before {
  content: "\e60d";
}
.moon-pencil2:before {
  content: "\e60e";
}
.moon-pen:before {
  content: "\e60f";
}
.moon-pencil3:before {
  content: "\e610";
}
.moon-eraser:before {
  content: "\e611";
}
.moon-pencil4:before {
  content: "\e612";
}
.moon-pencil5:before {
  content: "\e613";
}
.moon-feather:before {
  content: "\e614";
}
.moon-feather2:before {
  content: "\e615";
}
.moon-feather3:before {
  content: "\e616";
}
.moon-pen2:before {
  content: "\e617";
}
.moon-pen-add:before {
  content: "\e618";
}
.moon-pen-remove:before {
  content: "\e619";
}
.moon-vector:before {
  content: "\e61a";
}
.moon-pen3:before {
  content: "\e61b";
}
.moon-blog:before {
  content: "\e61c";
}
.moon-brush:before {
  content: "\e61d";
}
.moon-brush2:before {
  content: "\e61e";
}
.moon-spray:before {
  content: "\e61f";
}
.moon-paint-roller:before {
  content: "\e620";
}
.moon-stamp:before {
  content: "\e621";
}
.moon-tape:before {
  content: "\e622";
}
.moon-desk-tape:before {
  content: "\e623";
}
.moon-texture:before {
  content: "\e624";
}
.moon-eye-dropper:before {
  content: "\e625";
}
.moon-palette:before {
  content: "\e626";
}
.moon-color-sampler:before {
  content: "\e627";
}
.moon-bucket:before {
  content: "\e628";
}
.moon-gradient:before {
  content: "\e629";
}
.moon-gradient2:before {
  content: "\e62a";
}
.moon-magic-wand:before {
  content: "\e62b";
}
.moon-magnet:before {
  content: "\e62c";
}
.moon-pencil-ruler:before {
  content: "\e62d";
}
.moon-pencil-ruler2:before {
  content: "\e62e";
}
.moon-compass:before {
  content: "\e62f";
}
.moon-aim:before {
  content: "\e630";
}
.moon-gun:before {
  content: "\e631";
}
.moon-bottle:before {
  content: "\e632";
}
.moon-drop:before {
  content: "\e633";
}
.moon-drop-crossed:before {
  content: "\e634";
}
.moon-drop2:before {
  content: "\e635";
}
.moon-snow:before {
  content: "\e636";
}
.moon-snow2:before {
  content: "\e637";
}
.moon-fire:before {
  content: "\e638";
}
.moon-lighter:before {
  content: "\e639";
}
.moon-knife:before {
  content: "\e63a";
}
.moon-dagger:before {
  content: "\e63b";
}
.moon-tissue:before {
  content: "\e63c";
}
.moon-toilet-paper:before {
  content: "\e63d";
}
.moon-poop:before {
  content: "\e63e";
}
.moon-umbrella:before {
  content: "\e63f";
}
.moon-umbrella2:before {
  content: "\e640";
}
.moon-rain:before {
  content: "\e641";
}
.moon-tornado:before {
  content: "\e642";
}
.moon-wind:before {
  content: "\e643";
}
.moon-fan:before {
  content: "\e644";
}
.moon-contrast:before {
  content: "\e645";
}
.moon-sun-small:before {
  content: "\e646";
}
.moon-sun:before {
  content: "\e647";
}
.moon-sun2:before {
  content: "\e648";
}
.moon-moon:before {
  content: "\e649";
}
.moon-cloud:before {
  content: "\e64a";
}
.moon-cloud-upload:before {
  content: "\e64b";
}
.moon-cloud-download:before {
  content: "\e64c";
}
.moon-cloud-rain:before {
  content: "\e64d";
}
.moon-cloud-hailstones:before {
  content: "\e64e";
}
.moon-cloud-snow:before {
  content: "\e64f";
}
.moon-cloud-windy:before {
  content: "\e650";
}
.moon-sun-wind:before {
  content: "\e651";
}
.moon-cloud-fog:before {
  content: "\e652";
}
.moon-cloud-sun:before {
  content: "\e653";
}
.moon-cloud-lightning:before {
  content: "\e654";
}
.moon-cloud-sync:before {
  content: "\e655";
}
.moon-cloud-lock:before {
  content: "\e656";
}
.moon-cloud-gear:before {
  content: "\e657";
}
.moon-cloud-alert:before {
  content: "\e658";
}
.moon-cloud-check:before {
  content: "\e659";
}
.moon-cloud-cross:before {
  content: "\e65a";
}
.moon-cloud-crossed:before {
  content: "\e65b";
}
.moon-cloud-database:before {
  content: "\e65c";
}
.moon-database:before {
  content: "\e65d";
}
.moon-database-add:before {
  content: "\e65e";
}
.moon-database-remove:before {
  content: "\e65f";
}
.moon-database-lock:before {
  content: "\e660";
}
.moon-database-refresh:before {
  content: "\e661";
}
.moon-database-check:before {
  content: "\e662";
}
.moon-database-history:before {
  content: "\e663";
}
.moon-database-upload:before {
  content: "\e664";
}
.moon-database-download:before {
  content: "\e665";
}
.moon-server:before {
  content: "\e666";
}
.moon-shield:before {
  content: "\e667";
}
.moon-shield-check:before {
  content: "\e668";
}
.moon-shield-alert:before {
  content: "\e669";
}
.moon-shield-cross:before {
  content: "\e66a";
}
.moon-lock:before {
  content: "\e66b";
}
.moon-rotation-lock:before {
  content: "\e66c";
}
.moon-unlock:before {
  content: "\e66d";
}
.moon-key:before {
  content: "\e66e";
}
.moon-key-hole:before {
  content: "\e66f";
}
.moon-toggle-off:before {
  content: "\e670";
}
.moon-toggle-on:before {
  content: "\e671";
}
.moon-cog:before {
  content: "\e672";
}
.moon-cog2:before {
  content: "\e673";
}
.moon-wrench:before {
  content: "\e674";
}
.moon-screwdriver:before {
  content: "\e675";
}
.moon-hammer-wrench:before {
  content: "\e676";
}
.moon-hammer:before {
  content: "\e677";
}
.moon-saw:before {
  content: "\e678";
}
.moon-axe:before {
  content: "\e679";
}
.moon-axe2:before {
  content: "\e67a";
}
.moon-shovel:before {
  content: "\e67b";
}
.moon-pickaxe:before {
  content: "\e67c";
}
.moon-factory:before {
  content: "\e67d";
}
.moon-factory2:before {
  content: "\e67e";
}
.moon-recycle:before {
  content: "\e67f";
}
.moon-trash:before {
  content: "\e680";
}
.moon-trash2:before {
  content: "\e681";
}
.moon-trash3:before {
  content: "\e682";
}
.moon-broom:before {
  content: "\e683";
}
.moon-game:before {
  content: "\e684";
}
.moon-gamepad:before {
  content: "\e685";
}
.moon-joystick:before {
  content: "\e686";
}
.moon-dice:before {
  content: "\e687";
}
.moon-spades:before {
  content: "\e688";
}
.moon-diamonds:before {
  content: "\e689";
}
.moon-clubs:before {
  content: "\e68a";
}
.moon-hearts:before {
  content: "\e68b";
}
.moon-heart:before {
  content: "\e68c";
}
.moon-star:before {
  content: "\e68d";
}
.moon-star-half:before {
  content: "\e68e";
}
.moon-star-empty:before {
  content: "\e68f";
}
.moon-flag:before {
  content: "\e690";
}
.moon-flag2:before {
  content: "\e691";
}
.moon-flag3:before {
  content: "\e692";
}
.moon-mailbox-full:before {
  content: "\e693";
}
.moon-mailbox-empty:before {
  content: "\e694";
}
.moon-at-sign:before {
  content: "\e695";
}
.moon-envelope:before {
  content: "\e696";
}
.moon-envelope-open:before {
  content: "\e697";
}
.moon-paperclip:before {
  content: "\e698";
}
.moon-paper-plane:before {
  content: "\e699";
}
.moon-reply:before {
  content: "\e69a";
}
.moon-reply-all:before {
  content: "\e69b";
}
.moon-inbox:before {
  content: "\e69c";
}
.moon-inbox2:before {
  content: "\e69d";
}
.moon-outbox:before {
  content: "\e69e";
}
.moon-box:before {
  content: "\e69f";
}
.moon-archive:before {
  content: "\e6a0";
}
.moon-archive2:before {
  content: "\e6a1";
}
.moon-drawers:before {
  content: "\e6a2";
}
.moon-drawers2:before {
  content: "\e6a3";
}
.moon-drawers3:before {
  content: "\e6a4";
}
.moon-eye:before {
  content: "\e6a5";
}
.moon-eye-crossed:before {
  content: "\e6a6";
}
.moon-eye-plus:before {
  content: "\e6a7";
}
.moon-eye-minus:before {
  content: "\e6a8";
}
.moon-binoculars:before {
  content: "\e6a9";
}
.moon-binoculars2:before {
  content: "\e6aa";
}
.moon-hdd:before {
  content: "\e6ab";
}
.moon-hdd-down:before {
  content: "\e6ac";
}
.moon-hdd-up:before {
  content: "\e6ad";
}
.moon-floppy-disk:before {
  content: "\e6ae";
}
.moon-disc:before {
  content: "\e6af";
}
.moon-tape2:before {
  content: "\e6b0";
}
.moon-printer:before {
  content: "\e6b1";
}
.moon-shredder:before {
  content: "\e6b2";
}
.moon-file-empty:before {
  content: "\e6b3";
}
.moon-file-add:before {
  content: "\e6b4";
}
.moon-file-check:before {
  content: "\e6b5";
}
.moon-file-lock:before {
  content: "\e6b6";
}
.moon-files:before {
  content: "\e6b7";
}
.moon-copy:before {
  content: "\e6b8";
}
.moon-compare:before {
  content: "\e6b9";
}
.moon-folder:before {
  content: "\e6ba";
}
.moon-folder-search:before {
  content: "\e6bb";
}
.moon-folder-plus:before {
  content: "\e6bc";
}
.moon-folder-minus:before {
  content: "\e6bd";
}
.moon-folder-download:before {
  content: "\e6be";
}
.moon-folder-upload:before {
  content: "\e6bf";
}
.moon-folder-star:before {
  content: "\e6c0";
}
.moon-folder-heart:before {
  content: "\e6c1";
}
.moon-folder-user:before {
  content: "\e6c2";
}
.moon-folder-shared:before {
  content: "\e6c3";
}
.moon-folder-music:before {
  content: "\e6c4";
}
.moon-folder-picture:before {
  content: "\e6c5";
}
.moon-folder-film:before {
  content: "\e6c6";
}
.moon-scissors:before {
  content: "\e6c7";
}
.moon-paste:before {
  content: "\e6c8";
}
.moon-clipboard-empty:before {
  content: "\e6c9";
}
.moon-clipboard-pencil:before {
  content: "\e6ca";
}
.moon-clipboard-text:before {
  content: "\e6cb";
}
.moon-clipboard-check:before {
  content: "\e6cc";
}
.moon-clipboard-down:before {
  content: "\e6cd";
}
.moon-clipboard-left:before {
  content: "\e6ce";
}
.moon-clipboard-alert:before {
  content: "\e6cf";
}
.moon-clipboard-user:before {
  content: "\e6d0";
}
.moon-register:before {
  content: "\e6d1";
}
.moon-enter:before {
  content: "\e6d2";
}
.moon-exit:before {
  content: "\e6d3";
}
.moon-papers:before {
  content: "\e6d4";
}
.moon-news:before {
  content: "\e6d5";
}
.moon-reading:before {
  content: "\e6d6";
}
.moon-typewriter:before {
  content: "\e6d7";
}
.moon-document:before {
  content: "\e6d8";
}
.moon-document2:before {
  content: "\e6d9";
}
.moon-graduation-hat:before {
  content: "\e6da";
}
.moon-license:before {
  content: "\e6db";
}
.moon-license2:before {
  content: "\e6dc";
}
.moon-medal-empty:before {
  content: "\e6dd";
}
.moon-medal-first:before {
  content: "\e6de";
}
.moon-medal-second:before {
  content: "\e6df";
}
.moon-medal-third:before {
  content: "\e6e0";
}
.moon-podium:before {
  content: "\e6e1";
}
.moon-trophy:before {
  content: "\e6e2";
}
.moon-trophy2:before {
  content: "\e6e3";
}
.moon-music-note:before {
  content: "\e6e4";
}
.moon-music-note2:before {
  content: "\e6e5";
}
.moon-music-note3:before {
  content: "\e6e6";
}
.moon-playlist:before {
  content: "\e6e7";
}
.moon-playlist-add:before {
  content: "\e6e8";
}
.moon-guitar:before {
  content: "\e6e9";
}
.moon-trumpet:before {
  content: "\e6ea";
}
.moon-album:before {
  content: "\e6eb";
}
.moon-shuffle:before {
  content: "\e6ec";
}
.moon-repeat-one:before {
  content: "\e6ed";
}
.moon-repeat:before {
  content: "\e6ee";
}
.moon-headphones:before {
  content: "\e6ef";
}
.moon-headset:before {
  content: "\e6f0";
}
.moon-loudspeaker:before {
  content: "\e6f1";
}
.moon-equalizer:before {
  content: "\e6f2";
}
.moon-theater:before {
  content: "\e6f3";
}
.moon-3d-glasses:before {
  content: "\e6f4";
}
.moon-ticket:before {
  content: "\e6f5";
}
.moon-presentation:before {
  content: "\e6f6";
}
.moon-play:before {
  content: "\e6f7";
}
.moon-film-play:before {
  content: "\e6f8";
}
.moon-clapboard-play:before {
  content: "\e6f9";
}
.moon-media:before {
  content: "\e6fa";
}
.moon-film:before {
  content: "\e6fb";
}
.moon-film2:before {
  content: "\e6fc";
}
.moon-surveillance:before {
  content: "\e6fd";
}
.moon-surveillance2:before {
  content: "\e6fe";
}
.moon-camera:before {
  content: "\e6ff";
}
.moon-camera-crossed:before {
  content: "\e700";
}
.moon-camera-play:before {
  content: "\e701";
}
.moon-time-lapse:before {
  content: "\e702";
}
.moon-record:before {
  content: "\e703";
}
.moon-camera2:before {
  content: "\e704";
}
.moon-camera-flip:before {
  content: "\e705";
}
.moon-panorama:before {
  content: "\e706";
}
.moon-time-lapse2:before {
  content: "\e707";
}
.moon-shutter:before {
  content: "\e708";
}
.moon-shutter2:before {
  content: "\e709";
}
.moon-face-detection:before {
  content: "\e70a";
}
.moon-flare:before {
  content: "\e70b";
}
.moon-convex:before {
  content: "\e70c";
}
.moon-concave:before {
  content: "\e70d";
}
.moon-picture:before {
  content: "\e70e";
}
.moon-picture2:before {
  content: "\e70f";
}
.moon-picture3:before {
  content: "\e710";
}
.moon-pictures:before {
  content: "\e711";
}
.moon-book:before {
  content: "\e712";
}
.moon-audio-book:before {
  content: "\e713";
}
.moon-book2:before {
  content: "\e714";
}
.moon-bookmark:before {
  content: "\e715";
}
.moon-bookmark2:before {
  content: "\e716";
}
.moon-label:before {
  content: "\e717";
}
.moon-library:before {
  content: "\e718";
}
.moon-library2:before {
  content: "\e719";
}
.moon-contacts:before {
  content: "\e71a";
}
.moon-profile:before {
  content: "\e71b";
}
.moon-portrait:before {
  content: "\e71c";
}
.moon-portrait2:before {
  content: "\e71d";
}
.moon-user:before {
  content: "\e71e";
}
.moon-user-plus:before {
  content: "\e71f";
}
.moon-user-minus:before {
  content: "\e720";
}
.moon-user-lock:before {
  content: "\e721";
}
.moon-users:before {
  content: "\e722";
}
.moon-users2:before {
  content: "\e723";
}
.moon-users-plus:before {
  content: "\e724";
}
.moon-users-minus:before {
  content: "\e725";
}
.moon-group-work:before {
  content: "\e726";
}
.moon-woman:before {
  content: "\e727";
}
.moon-man:before {
  content: "\e728";
}
.moon-baby:before {
  content: "\e729";
}
.moon-baby2:before {
  content: "\e72a";
}
.moon-baby3:before {
  content: "\e72b";
}
.moon-baby-bottle:before {
  content: "\e72c";
}
.moon-walk:before {
  content: "\e72d";
}
.moon-hand-waving:before {
  content: "\e72e";
}
.moon-jump:before {
  content: "\e72f";
}
.moon-run:before {
  content: "\e730";
}
.moon-woman2:before {
  content: "\e731";
}
.moon-man2:before {
  content: "\e732";
}
.moon-man-woman:before {
  content: "\e733";
}
.moon-height:before {
  content: "\e734";
}
.moon-weight:before {
  content: "\e735";
}
.moon-scale:before {
  content: "\e736";
}
.moon-button:before {
  content: "\e737";
}
.moon-bow-tie:before {
  content: "\e738";
}
.moon-tie:before {
  content: "\e739";
}
.moon-socks:before {
  content: "\e73a";
}
.moon-shoe:before {
  content: "\e73b";
}
.moon-shoes:before {
  content: "\e73c";
}
.moon-hat:before {
  content: "\e73d";
}
.moon-pants:before {
  content: "\e73e";
}
.moon-shorts:before {
  content: "\e73f";
}
.moon-flip-flops:before {
  content: "\e740";
}
.moon-shirt:before {
  content: "\e741";
}
.moon-hanger:before {
  content: "\e742";
}
.moon-laundry:before {
  content: "\e743";
}
.moon-store:before {
  content: "\e744";
}
.moon-haircut:before {
  content: "\e745";
}
.moon-store-24:before {
  content: "\e746";
}
.moon-barcode:before {
  content: "\e747";
}
.moon-barcode2:before {
  content: "\e748";
}
.moon-barcode3:before {
  content: "\e749";
}
.moon-cashier:before {
  content: "\e74a";
}
.moon-bag:before {
  content: "\e74b";
}
.moon-bag2:before {
  content: "\e74c";
}
.moon-cart:before {
  content: "\e74d";
}
.moon-cart-empty:before {
  content: "\e74e";
}
.moon-cart-full:before {
  content: "\e74f";
}
.moon-cart-plus:before {
  content: "\e750";
}
.moon-cart-plus2:before {
  content: "\e751";
}
.moon-cart-add:before {
  content: "\e752";
}
.moon-cart-remove:before {
  content: "\e753";
}
.moon-cart-exchange:before {
  content: "\e754";
}
.moon-tag:before {
  content: "\e755";
}
.moon-tags:before {
  content: "\e756";
}
.moon-receipt:before {
  content: "\e757";
}
.moon-wallet:before {
  content: "\e758";
}
.moon-credit-card:before {
  content: "\e759";
}
.moon-cash-dollar:before {
  content: "\e75a";
}
.moon-cash-euro:before {
  content: "\e75b";
}
.moon-cash-pound:before {
  content: "\e75c";
}
.moon-cash-yen:before {
  content: "\e75d";
}
.moon-bag-dollar:before {
  content: "\e75e";
}
.moon-bag-euro:before {
  content: "\e75f";
}
.moon-bag-pound:before {
  content: "\e760";
}
.moon-bag-yen:before {
  content: "\e761";
}
.moon-coin-dollar:before {
  content: "\e762";
}
.moon-coin-euro:before {
  content: "\e763";
}
.moon-coin-pound:before {
  content: "\e764";
}
.moon-coin-yen:before {
  content: "\e765";
}
.moon-calculator:before {
  content: "\e766";
}
.moon-calculator2:before {
  content: "\e767";
}
.moon-abacus:before {
  content: "\e768";
}
.moon-vault:before {
  content: "\e769";
}
.moon-telephone:before {
  content: "\e76a";
}
.moon-phone-lock:before {
  content: "\e76b";
}
.moon-phone-wave:before {
  content: "\e76c";
}
.moon-phone-pause:before {
  content: "\e76d";
}
.moon-phone-outgoing:before {
  content: "\e76e";
}
.moon-phone-incoming:before {
  content: "\e76f";
}
.moon-phone-in-out:before {
  content: "\e770";
}
.moon-phone-error:before {
  content: "\e771";
}
.moon-phone-sip:before {
  content: "\e772";
}
.moon-phone-plus:before {
  content: "\e773";
}
.moon-phone-minus:before {
  content: "\e774";
}
.moon-voicemail:before {
  content: "\e775";
}
.moon-dial:before {
  content: "\e776";
}
.moon-telephone2:before {
  content: "\e777";
}
.moon-pushpin:before {
  content: "\e778";
}
.moon-pushpin2:before {
  content: "\e779";
}
.moon-map-marker:before {
  content: "\e77a";
}
.moon-map-marker-user:before {
  content: "\e77b";
}
.moon-map-marker-down:before {
  content: "\e77c";
}
.moon-map-marker-check:before {
  content: "\e77d";
}
.moon-map-marker-crossed:before {
  content: "\e77e";
}
.moon-radar:before {
  content: "\e77f";
}
.moon-compass2:before {
  content: "\e780";
}
.moon-map:before {
  content: "\e781";
}
.moon-map2:before {
  content: "\e782";
}
.moon-location:before {
  content: "\e783";
}
.moon-road-sign:before {
  content: "\e784";
}
.moon-calendar-empty:before {
  content: "\e785";
}
.moon-calendar-check:before {
  content: "\e786";
}
.moon-calendar-cross:before {
  content: "\e787";
}
.moon-calendar-31:before {
  content: "\e788";
}
.moon-calendar-full:before {
  content: "\e789";
}
.moon-calendar-insert:before {
  content: "\e78a";
}
.moon-calendar-text:before {
  content: "\e78b";
}
.moon-calendar-user:before {
  content: "\e78c";
}
.moon-mouse:before {
  content: "\e78d";
}
.moon-mouse-left:before {
  content: "\e78e";
}
.moon-mouse-right:before {
  content: "\e78f";
}
.moon-mouse-both:before {
  content: "\e790";
}
.moon-keyboard:before {
  content: "\e791";
}
.moon-keyboard-up:before {
  content: "\e792";
}
.moon-keyboard-down:before {
  content: "\e793";
}
.moon-delete:before {
  content: "\e794";
}
.moon-spell-check:before {
  content: "\e795";
}
.moon-escape:before {
  content: "\e796";
}
.moon-enter2:before {
  content: "\e797";
}
.moon-screen:before {
  content: "\e798";
}
.moon-aspect-ratio:before {
  content: "\e799";
}
.moon-signal:before {
  content: "\e79a";
}
.moon-signal-lock:before {
  content: "\e79b";
}
.moon-signal-80:before {
  content: "\e79c";
}
.moon-signal-60:before {
  content: "\e79d";
}
.moon-signal-40:before {
  content: "\e79e";
}
.moon-signal-20:before {
  content: "\e79f";
}
.moon-signal-0:before {
  content: "\e7a0";
}
.moon-signal-blocked:before {
  content: "\e7a1";
}
.moon-sim:before {
  content: "\e7a2";
}
.moon-flash-memory:before {
  content: "\e7a3";
}
.moon-usb-drive:before {
  content: "\e7a4";
}
.moon-phone:before {
  content: "\e7a5";
}
.moon-smartphone:before {
  content: "\e7a6";
}
.moon-smartphone-notification:before {
  content: "\e7a7";
}
.moon-smartphone-vibration:before {
  content: "\e7a8";
}
.moon-smartphone-embed:before {
  content: "\e7a9";
}
.moon-smartphone-waves:before {
  content: "\e7aa";
}
.moon-tablet:before {
  content: "\e7ab";
}
.moon-tablet2:before {
  content: "\e7ac";
}
.moon-laptop:before {
  content: "\e7ad";
}
.moon-laptop-phone:before {
  content: "\e7ae";
}
.moon-desktop:before {
  content: "\e7af";
}
.moon-launch:before {
  content: "\e7b0";
}
.moon-new-tab:before {
  content: "\e7b1";
}
.moon-window:before {
  content: "\e7b2";
}
.moon-cable:before {
  content: "\e7b3";
}
.moon-cable2:before {
  content: "\e7b4";
}
.moon-tv:before {
  content: "\e7b5";
}
.moon-radio:before {
  content: "\e7b6";
}
.moon-remote-control:before {
  content: "\e7b7";
}
.moon-power-switch:before {
  content: "\e7b8";
}
.moon-power:before {
  content: "\e7b9";
}
.moon-power-crossed:before {
  content: "\e7ba";
}
.moon-flash-auto:before {
  content: "\e7bb";
}
.moon-lamp:before {
  content: "\e7bc";
}
.moon-flashlight:before {
  content: "\e7bd";
}
.moon-lampshade:before {
  content: "\e7be";
}
.moon-cord:before {
  content: "\e7bf";
}
.moon-outlet:before {
  content: "\e7c0";
}
.moon-battery-power:before {
  content: "\e7c1";
}
.moon-battery-empty:before {
  content: "\e7c2";
}
.moon-battery-alert:before {
  content: "\e7c3";
}
.moon-battery-error:before {
  content: "\e7c4";
}
.moon-battery-low1:before {
  content: "\e7c5";
}
.moon-battery-low2:before {
  content: "\e7c6";
}
.moon-battery-low3:before {
  content: "\e7c7";
}
.moon-battery-mid1:before {
  content: "\e7c8";
}
.moon-battery-mid2:before {
  content: "\e7c9";
}
.moon-battery-mid3:before {
  content: "\e7ca";
}
.moon-battery-full:before {
  content: "\e7cb";
}
.moon-battery-charging:before {
  content: "\e7cc";
}
.moon-battery-charging2:before {
  content: "\e7cd";
}
.moon-battery-charging3:before {
  content: "\e7ce";
}
.moon-battery-charging4:before {
  content: "\e7cf";
}
.moon-battery-charging5:before {
  content: "\e7d0";
}
.moon-battery-charging6:before {
  content: "\e7d1";
}
.moon-battery-charging7:before {
  content: "\e7d2";
}
.moon-chip:before {
  content: "\e7d3";
}
.moon-chip-x64:before {
  content: "\e7d4";
}
.moon-chip-x86:before {
  content: "\e7d5";
}
.moon-bubble:before {
  content: "\e7d6";
}
.moon-bubbles:before {
  content: "\e7d7";
}
.moon-bubble-dots:before {
  content: "\e7d8";
}
.moon-bubble-alert:before {
  content: "\e7d9";
}
.moon-bubble-question:before {
  content: "\e7da";
}
.moon-bubble-text:before {
  content: "\e7db";
}
.moon-bubble-pencil:before {
  content: "\e7dc";
}
.moon-bubble-picture:before {
  content: "\e7dd";
}
.moon-bubble-video:before {
  content: "\e7de";
}
.moon-bubble-user:before {
  content: "\e7df";
}
.moon-bubble-quote:before {
  content: "\e7e0";
}
.moon-bubble-heart:before {
  content: "\e7e1";
}
.moon-bubble-emotmoon:before {
  content: "\e7e2";
}
.moon-bubble-attachment:before {
  content: "\e7e3";
}
.moon-phone-bubble:before {
  content: "\e7e4";
}
.moon-quote-open:before {
  content: "\e7e5";
}
.moon-quote-close:before {
  content: "\e7e6";
}
.moon-dna:before {
  content: "\e7e7";
}
.moon-heart-pulse:before {
  content: "\e7e8";
}
.moon-pulse:before {
  content: "\e7e9";
}
.moon-syringe:before {
  content: "\e7ea";
}
.moon-pills:before {
  content: "\e7eb";
}
.moon-first-aid:before {
  content: "\e7ec";
}
.moon-lifebuoy:before {
  content: "\e7ed";
}
.moon-bandage:before {
  content: "\e7ee";
}
.moon-bandages:before {
  content: "\e7ef";
}
.moon-thermometer:before {
  content: "\e7f0";
}
.moon-microscope:before {
  content: "\e7f1";
}
.moon-brain:before {
  content: "\e7f2";
}
.moon-beaker:before {
  content: "\e7f3";
}
.moon-skull:before {
  content: "\e7f4";
}
.moon-bone:before {
  content: "\e7f5";
}
.moon-construction:before {
  content: "\e7f6";
}
.moon-construction-cone:before {
  content: "\e7f7";
}
.moon-pie-chart:before {
  content: "\e7f8";
}
.moon-pie-chart2:before {
  content: "\e7f9";
}
.moon-graph:before {
  content: "\e7fa";
}
.moon-chart-growth:before {
  content: "\e7fb";
}
.moon-chart-bars:before {
  content: "\e7fc";
}
.moon-chart-settings:before {
  content: "\e7fd";
}
.moon-cake:before {
  content: "\e7fe";
}
.moon-gift:before {
  content: "\e7ff";
}
.moon-balloon:before {
  content: "\e800";
}
.moon-rank:before {
  content: "\e801";
}
.moon-rank2:before {
  content: "\e802";
}
.moon-rank3:before {
  content: "\e803";
}
.moon-crown:before {
  content: "\e804";
}
.moon-lotus:before {
  content: "\e805";
}
.moon-diamond:before {
  content: "\e806";
}
.moon-diamond2:before {
  content: "\e807";
}
.moon-diamond3:before {
  content: "\e808";
}
.moon-diamond4:before {
  content: "\e809";
}
.moon-linearmoons:before {
  content: "\e80a";
}
.moon-teacup:before {
  content: "\e80b";
}
.moon-teapot:before {
  content: "\e80c";
}
.moon-glass:before {
  content: "\e80d";
}
.moon-bottle2:before {
  content: "\e80e";
}
.moon-glass-cocktail:before {
  content: "\e80f";
}
.moon-glass2:before {
  content: "\e810";
}
.moon-dinner:before {
  content: "\e811";
}
.moon-dinner2:before {
  content: "\e812";
}
.moon-chef:before {
  content: "\e813";
}
.moon-scale2:before {
  content: "\e814";
}
.moon-egg:before {
  content: "\e815";
}
.moon-egg2:before {
  content: "\e816";
}
.moon-eggs:before {
  content: "\e817";
}
.moon-platter:before {
  content: "\e818";
}
.moon-steak:before {
  content: "\e819";
}
.moon-hamburger:before {
  content: "\e81a";
}
.moon-hotdog:before {
  content: "\e81b";
}
.moon-pizza:before {
  content: "\e81c";
}
.moon-sausage:before {
  content: "\e81d";
}
.moon-chicken:before {
  content: "\e81e";
}
.moon-fish:before {
  content: "\e81f";
}
.moon-carrot:before {
  content: "\e820";
}
.moon-cheese:before {
  content: "\e821";
}
.moon-bread:before {
  content: "\e822";
}
.moon-ice-cream:before {
  content: "\e823";
}
.moon-ice-cream2:before {
  content: "\e824";
}
.moon-candy:before {
  content: "\e825";
}
.moon-lollipop:before {
  content: "\e826";
}
.moon-coffee-bean:before {
  content: "\e827";
}
.moon-coffee-cup:before {
  content: "\e828";
}
.moon-cherry:before {
  content: "\e829";
}
.moon-grapes:before {
  content: "\e82a";
}
.moon-citrus:before {
  content: "\e82b";
}
.moon-apple:before {
  content: "\e82c";
}
.moon-leaf:before {
  content: "\e82d";
}
.moon-landscape:before {
  content: "\e82e";
}
.moon-pine-tree:before {
  content: "\e82f";
}
.moon-tree:before {
  content: "\e830";
}
.moon-cactus:before {
  content: "\e831";
}
.moon-paw:before {
  content: "\e832";
}
.moon-footprint:before {
  content: "\e833";
}
.moon-speed-slow:before {
  content: "\e834";
}
.moon-speed-medium:before {
  content: "\e835";
}
.moon-speed-fast:before {
  content: "\e836";
}
.moon-rocket:before {
  content: "\e837";
}
.moon-hammer2:before {
  content: "\e838";
}
.moon-balance:before {
  content: "\e839";
}
.moon-briefcase:before {
  content: "\e83a";
}
.moon-luggage-weight:before {
  content: "\e83b";
}
.moon-dolly:before {
  content: "\e83c";
}
.moon-plane:before {
  content: "\e83d";
}
.moon-plane-crossed:before {
  content: "\e83e";
}
.moon-helicopter:before {
  content: "\e83f";
}
.moon-traffic-lights:before {
  content: "\e840";
}
.moon-siren:before {
  content: "\e841";
}
.moon-road:before {
  content: "\e842";
}
.moon-engine:before {
  content: "\e843";
}
.moon-oil-pressure:before {
  content: "\e844";
}
.moon-coolant-temperature:before {
  content: "\e845";
}
.moon-car-battery:before {
  content: "\e846";
}
.moon-gas:before {
  content: "\e847";
}
.moon-gallon:before {
  content: "\e848";
}
.moon-transmission:before {
  content: "\e849";
}
.moon-car:before {
  content: "\e84a";
}
.moon-car-wash:before {
  content: "\e84b";
}
.moon-car-wash2:before {
  content: "\e84c";
}
.moon-bus:before {
  content: "\e84d";
}
.moon-bus2:before {
  content: "\e84e";
}
.moon-car2:before {
  content: "\e84f";
}
.moon-parking:before {
  content: "\e850";
}
.moon-car-lock:before {
  content: "\e851";
}
.moon-taxi:before {
  content: "\e852";
}
.moon-car-siren:before {
  content: "\e853";
}
.moon-car-wash3:before {
  content: "\e854";
}
.moon-car-wash4:before {
  content: "\e855";
}
.moon-ambulance:before {
  content: "\e856";
}
.moon-truck:before {
  content: "\e857";
}
.moon-trailer:before {
  content: "\e858";
}
.moon-scale-truck:before {
  content: "\e859";
}
.moon-train:before {
  content: "\e85a";
}
.moon-ship:before {
  content: "\e85b";
}
.moon-ship2:before {
  content: "\e85c";
}
.moon-anchor:before {
  content: "\e85d";
}
.moon-boat:before {
  content: "\e85e";
}
.moon-bicycle:before {
  content: "\e85f";
}
.moon-bicycle2:before {
  content: "\e860";
}
.moon-dumbbell:before {
  content: "\e861";
}
.moon-bench-press:before {
  content: "\e862";
}
.moon-swim:before {
  content: "\e863";
}
.moon-football:before {
  content: "\e864";
}
.moon-baseball-bat:before {
  content: "\e865";
}
.moon-baseball:before {
  content: "\e866";
}
.moon-tennis:before {
  content: "\e867";
}
.moon-tennis2:before {
  content: "\e868";
}
.moon-ping-pong:before {
  content: "\e869";
}
.moon-hockey:before {
  content: "\e86a";
}
.moon-8ball:before {
  content: "\e86b";
}
.moon-bowling:before {
  content: "\e86c";
}
.moon-bowling-pins:before {
  content: "\e86d";
}
.moon-golf:before {
  content: "\e86e";
}
.moon-golf2:before {
  content: "\e86f";
}
.moon-archery:before {
  content: "\e870";
}
.moon-slingshot:before {
  content: "\e871";
}
.moon-soccer:before {
  content: "\e872";
}
.moon-basketball:before {
  content: "\e873";
}
.moon-cube:before {
  content: "\e874";
}
.moon-3d-rotate:before {
  content: "\e875";
}
.moon-puzzle:before {
  content: "\e876";
}
.moon-glasses:before {
  content: "\e877";
}
.moon-glasses2:before {
  content: "\e878";
}
.moon-accessibility:before {
  content: "\e879";
}
.moon-wheelchair:before {
  content: "\e87a";
}
.moon-wall:before {
  content: "\e87b";
}
.moon-fence:before {
  content: "\e87c";
}
.moon-wall2:before {
  content: "\e87d";
}
.moon-moons:before {
  content: "\e87e";
}
.moon-resize-handle:before {
  content: "\e87f";
}
.moon-moons2:before {
  content: "\e880";
}
.moon-select:before {
  content: "\e881";
}
.moon-select2:before {
  content: "\e882";
}
.moon-site-map:before {
  content: "\e883";
}
.moon-earth:before {
  content: "\e884";
}
.moon-earth-lock:before {
  content: "\e885";
}
.moon-network:before {
  content: "\e886";
}
.moon-network-lock:before {
  content: "\e887";
}
.moon-planet:before {
  content: "\e888";
}
.moon-happy:before {
  content: "\e889";
}
.moon-smile:before {
  content: "\e88a";
}
.moon-grin:before {
  content: "\e88b";
}
.moon-tongue:before {
  content: "\e88c";
}
.moon-sad:before {
  content: "\e88d";
}
.moon-wink:before {
  content: "\e88e";
}
.moon-dream:before {
  content: "\e88f";
}
.moon-shocked:before {
  content: "\e890";
}
.moon-shocked2:before {
  content: "\e891";
}
.moon-tongue2:before {
  content: "\e892";
}
.moon-neutral:before {
  content: "\e893";
}
.moon-happy-grin:before {
  content: "\e894";
}
.moon-cool:before {
  content: "\e895";
}
.moon-mad:before {
  content: "\e896";
}
.moon-grin-evil:before {
  content: "\e897";
}
.moon-evil:before {
  content: "\e898";
}
.moon-wow:before {
  content: "\e899";
}
.moon-annoyed:before {
  content: "\e89a";
}
.moon-wondering:before {
  content: "\e89b";
}
.moon-confused:before {
  content: "\e89c";
}
.moon-zipped:before {
  content: "\e89d";
}
.moon-grumpy:before {
  content: "\e89e";
}
.moon-mustache:before {
  content: "\e89f";
}
.moon-tombstone-hipster:before {
  content: "\e8a0";
}
.moon-tombstone:before {
  content: "\e8a1";
}
.moon-ghost:before {
  content: "\e8a2";
}
.moon-ghost-hipster:before {
  content: "\e8a3";
}
.moon-halloween:before {
  content: "\e8a4";
}
.moon-christmas:before {
  content: "\e8a5";
}
.moon-easter-egg:before {
  content: "\e8a6";
}
.moon-mustache2:before {
  content: "\e8a7";
}
.moon-mustache-glasses:before {
  content: "\e8a8";
}
.moon-pipe:before {
  content: "\e8a9";
}
.moon-alarm:before {
  content: "\e8aa";
}
.moon-alarm-add:before {
  content: "\e8ab";
}
.moon-alarm-snooze:before {
  content: "\e8ac";
}
.moon-alarm-ringing:before {
  content: "\e8ad";
}
.moon-bullhorn:before {
  content: "\e8ae";
}
.moon-hearing:before {
  content: "\e8af";
}
.moon-volume-high:before {
  content: "\e8b0";
}
.moon-volume-medium:before {
  content: "\e8b1";
}
.moon-volume-low:before {
  content: "\e8b2";
}
.moon-volume:before {
  content: "\e8b3";
}
.moon-mute:before {
  content: "\e8b4";
}
.moon-lan:before {
  content: "\e8b5";
}
.moon-lan2:before {
  content: "\e8b6";
}
.moon-wifi:before {
  content: "\e8b7";
}
.moon-wifi-lock:before {
  content: "\e8b8";
}
.moon-wifi-blocked:before {
  content: "\e8b9";
}
.moon-wifi-mid:before {
  content: "\e8ba";
}
.moon-wifi-low:before {
  content: "\e8bb";
}
.moon-wifi-low2:before {
  content: "\e8bc";
}
.moon-wifi-alert:before {
  content: "\e8bd";
}
.moon-wifi-alert-mid:before {
  content: "\e8be";
}
.moon-wifi-alert-low:before {
  content: "\e8bf";
}
.moon-wifi-alert-low2:before {
  content: "\e8c0";
}
.moon-stream:before {
  content: "\e8c1";
}
.moon-stream-check:before {
  content: "\e8c2";
}
.moon-stream-error:before {
  content: "\e8c3";
}
.moon-stream-alert:before {
  content: "\e8c4";
}
.moon-communication:before {
  content: "\e8c5";
}
.moon-communication-crossed:before {
  content: "\e8c6";
}
.moon-broadcast:before {
  content: "\e8c7";
}
.moon-antenna:before {
  content: "\e8c8";
}
.moon-satellite:before {
  content: "\e8c9";
}
.moon-satellite2:before {
  content: "\e8ca";
}
.moon-mic:before {
  content: "\e8cb";
}
.moon-mic-mute:before {
  content: "\e8cc";
}
.moon-mic2:before {
  content: "\e8cd";
}
.moon-spotlights:before {
  content: "\e8ce";
}
.moon-hourglass:before {
  content: "\e8cf";
}
.moon-loading:before {
  content: "\e8d0";
}
.moon-loading2:before {
  content: "\e8d1";
}
.moon-loading3:before {
  content: "\e8d2";
}
.moon-refresh:before {
  content: "\e8d3";
}
.moon-refresh2:before {
  content: "\e8d4";
}
.moon-undo:before {
  content: "\e8d5";
}
.moon-redo:before {
  content: "\e8d6";
}
.moon-jump2:before {
  content: "\e8d7";
}
.moon-undo2:before {
  content: "\e8d8";
}
.moon-redo2:before {
  content: "\e8d9";
}
.moon-sync:before {
  content: "\e8da";
}
.moon-repeat-one2:before {
  content: "\e8db";
}
.moon-sync-crossed:before {
  content: "\e8dc";
}
.moon-sync2:before {
  content: "\e8dd";
}
.moon-repeat-one3:before {
  content: "\e8de";
}
.moon-sync-crossed2:before {
  content: "\e8df";
}
.moon-return:before {
  content: "\e8e0";
}
.moon-return2:before {
  content: "\e8e1";
}
.moon-refund:before {
  content: "\e8e2";
}
.moon-history:before {
  content: "\e8e3";
}
.moon-history2:before {
  content: "\e8e4";
}
.moon-self-timer:before {
  content: "\e8e5";
}
.moon-clock:before {
  content: "\e8e6";
}
.moon-clock2:before {
  content: "\e8e7";
}
.moon-clock3:before {
  content: "\e8e8";
}
.moon-watch:before {
  content: "\e8e9";
}
.moon-alarm2:before {
  content: "\e8ea";
}
.moon-alarm-add2:before {
  content: "\e8eb";
}
.moon-alarm-remove:before {
  content: "\e8ec";
}
.moon-alarm-check:before {
  content: "\e8ed";
}
.moon-alarm-error:before {
  content: "\e8ee";
}
.moon-timer:before {
  content: "\e8ef";
}
.moon-timer-crossed:before {
  content: "\e8f0";
}
.moon-timer2:before {
  content: "\e8f1";
}
.moon-timer-crossed2:before {
  content: "\e8f2";
}
.moon-download:before {
  content: "\e8f3";
}
.moon-upload:before {
  content: "\e8f4";
}
.moon-download2:before {
  content: "\e8f5";
}
.moon-upload2:before {
  content: "\e8f6";
}
.moon-enter-up:before {
  content: "\e8f7";
}
.moon-enter-down:before {
  content: "\e8f8";
}
.moon-enter-left:before {
  content: "\e8f9";
}
.moon-enter-right:before {
  content: "\e8fa";
}
.moon-exit-up:before {
  content: "\e8fb";
}
.moon-exit-down:before {
  content: "\e8fc";
}
.moon-exit-left:before {
  content: "\e8fd";
}
.moon-exit-right:before {
  content: "\e8fe";
}
.moon-enter-up2:before {
  content: "\e8ff";
}
.moon-enter-down2:before {
  content: "\e900";
}
.moon-enter-vertical:before {
  content: "\e901";
}
.moon-enter-left2:before {
  content: "\e902";
}
.moon-enter-right2:before {
  content: "\e903";
}
.moon-enter-horizontal:before {
  content: "\e904";
}
.moon-exit-up2:before {
  content: "\e905";
}
.moon-exit-down2:before {
  content: "\e906";
}
.moon-exit-left2:before {
  content: "\e907";
}
.moon-exit-right2:before {
  content: "\e908";
}
.moon-cli:before {
  content: "\e909";
}
.moon-bug:before {
  content: "\e90a";
}
.moon-code:before {
  content: "\e90b";
}
.moon-file-code:before {
  content: "\e90c";
}
.moon-file-image:before {
  content: "\e90d";
}
.moon-file-zip:before {
  content: "\e90e";
}
.moon-file-audio:before {
  content: "\e90f";
}
.moon-file-video:before {
  content: "\e910";
}
.moon-file-preview:before {
  content: "\e911";
}
.moon-file-charts:before {
  content: "\e912";
}
.moon-file-stats:before {
  content: "\e913";
}
.moon-file-spreadsheet:before {
  content: "\e914";
}
.moon-link:before {
  content: "\e915";
}
.moon-unlink:before {
  content: "\e916";
}
.moon-link2:before {
  content: "\e917";
}
.moon-unlink2:before {
  content: "\e918";
}
.moon-thumbs-up:before {
  content: "\e919";
}
.moon-thumbs-down:before {
  content: "\e91a";
}
.moon-thumbs-up2:before {
  content: "\e91b";
}
.moon-thumbs-down2:before {
  content: "\e91c";
}
.moon-thumbs-up3:before {
  content: "\e91d";
}
.moon-thumbs-down3:before {
  content: "\e91e";
}
.moon-share:before {
  content: "\e91f";
}
.moon-share2:before {
  content: "\e920";
}
.moon-share3:before {
  content: "\e921";
}
.moon-magnifier:before {
  content: "\e922";
}
.moon-file-search:before {
  content: "\e923";
}
.moon-find-replace:before {
  content: "\e924";
}
.moon-zoom-in:before {
  content: "\e925";
}
.moon-zoom-out:before {
  content: "\e926";
}
.moon-loupe:before {
  content: "\e927";
}
.moon-loupe-zoom-in:before {
  content: "\e928";
}
.moon-loupe-zoom-out:before {
  content: "\e929";
}
.moon-cross:before {
  content: "\e92a";
}
.moon-menu:before {
  content: "\e92b";
}
.moon-list:before {
  content: "\e92c";
}
.moon-list2:before {
  content: "\e92d";
}
.moon-list3:before {
  content: "\e92e";
}
.moon-menu2:before {
  content: "\e92f";
}
.moon-list4:before {
  content: "\e930";
}
.moon-menu3:before {
  content: "\e931";
}
.moon-exclamation:before {
  content: "\e932";
}
.moon-question:before {
  content: "\e933";
}
.moon-check:before {
  content: "\e934";
}
.moon-cross2:before {
  content: "\e935";
}
.moon-plus:before {
  content: "\e936";
}
.moon-minus:before {
  content: "\e937";
}
.moon-percent:before {
  content: "\e938";
}
.moon-chevron-up:before {
  content: "\e939";
}
.moon-chevron-down:before {
  content: "\e93a";
}
.moon-chevron-left:before {
  content: "\e93b";
}
.moon-chevron-right:before {
  content: "\e93c";
}
.moon-chevrons-expand-vertical:before {
  content: "\e93d";
}
.moon-chevrons-expand-horizontal:before {
  content: "\e93e";
}
.moon-chevrons-contract-vertical:before {
  content: "\e93f";
}
.moon-chevrons-contract-horizontal:before {
  content: "\e940";
}
.moon-arrow-up:before {
  content: "\e941";
}
.moon-arrow-down:before {
  content: "\e942";
}
.moon-arrow-left:before {
  content: "\e943";
}
.moon-arrow-right:before {
  content: "\e944";
}
.moon-arrow-up-right:before {
  content: "\e945";
}
.moon-arrows-merge:before {
  content: "\e946";
}
.moon-arrows-split:before {
  content: "\e947";
}
.moon-arrow-divert:before {
  content: "\e948";
}
.moon-arrow-return:before {
  content: "\e949";
}
.moon-expand:before {
  content: "\e94a";
}
.moon-contract:before {
  content: "\e94b";
}
.moon-expand2:before {
  content: "\e94c";
}
.moon-contract2:before {
  content: "\e94d";
}
.moon-move:before {
  content: "\e94e";
}
.moon-tab:before {
  content: "\e94f";
}
.moon-arrow-wave:before {
  content: "\e950";
}
.moon-expand3:before {
  content: "\e951";
}
.moon-expand4:before {
  content: "\e952";
}
.moon-contract3:before {
  content: "\e953";
}
.moon-notification:before {
  content: "\e954";
}
.moon-warning:before {
  content: "\e955";
}
.moon-notification-circle:before {
  content: "\e956";
}
.moon-question-circle:before {
  content: "\e957";
}
.moon-menu-circle:before {
  content: "\e958";
}
.moon-checkmark-circle:before {
  content: "\e959";
}
.moon-cross-circle:before {
  content: "\e95a";
}
.moon-plus-circle:before {
  content: "\e95b";
}
.moon-circle-minus:before {
  content: "\e95c";
}
.moon-percent-circle:before {
  content: "\e95d";
}
.moon-arrow-up-circle:before {
  content: "\e95e";
}
.moon-arrow-down-circle:before {
  content: "\e95f";
}
.moon-arrow-left-circle:before {
  content: "\e960";
}
.moon-arrow-right-circle:before {
  content: "\e961";
}
.moon-chevron-up-circle:before {
  content: "\e962";
}
.moon-chevron-down-circle:before {
  content: "\e963";
}
.moon-chevron-left-circle:before {
  content: "\e964";
}
.moon-chevron-right-circle:before {
  content: "\e965";
}
.moon-backward-circle:before {
  content: "\e966";
}
.moon-first-circle:before {
  content: "\e967";
}
.moon-previous-circle:before {
  content: "\e968";
}
.moon-stop-circle:before {
  content: "\e969";
}
.moon-play-circle:before {
  content: "\e96a";
}
.moon-pause-circle:before {
  content: "\e96b";
}
.moon-next-circle:before {
  content: "\e96c";
}
.moon-last-circle:before {
  content: "\e96d";
}
.moon-forward-circle:before {
  content: "\e96e";
}
.moon-eject-circle:before {
  content: "\e96f";
}
.moon-crop:before {
  content: "\e970";
}
.moon-frame-expand:before {
  content: "\e971";
}
.moon-frame-contract:before {
  content: "\e972";
}
.moon-focus:before {
  content: "\e973";
}
.moon-transform:before {
  content: "\e974";
}
.moon-grid:before {
  content: "\e975";
}
.moon-grid-crossed:before {
  content: "\e976";
}
.moon-layers:before {
  content: "\e977";
}
.moon-layers-crossed:before {
  content: "\e978";
}
.moon-toggle:before {
  content: "\e979";
}
.moon-rulers:before {
  content: "\e97a";
}
.moon-ruler:before {
  content: "\e97b";
}
.moon-funnel:before {
  content: "\e97c";
}
.moon-flip-horizontal:before {
  content: "\e97d";
}
.moon-flip-vertical:before {
  content: "\e97e";
}
.moon-flip-horizontal2:before {
  content: "\e97f";
}
.moon-flip-vertical2:before {
  content: "\e980";
}
.moon-angle:before {
  content: "\e981";
}
.moon-angle2:before {
  content: "\e982";
}
.moon-subtract:before {
  content: "\e983";
}
.moon-combine:before {
  content: "\e984";
}
.moon-intersect:before {
  content: "\e985";
}
.moon-exclude:before {
  content: "\e986";
}
.moon-align-center-vertical:before {
  content: "\e987";
}
.moon-align-right:before {
  content: "\e988";
}
.moon-align-bottom:before {
  content: "\e989";
}
.moon-align-left:before {
  content: "\e98a";
}
.moon-align-center-horizontal:before {
  content: "\e98b";
}
.moon-align-top:before {
  content: "\e98c";
}
.moon-square:before {
  content: "\e98d";
}
.moon-plus-square:before {
  content: "\e98e";
}
.moon-minus-square:before {
  content: "\e98f";
}
.moon-percent-square:before {
  content: "\e990";
}
.moon-arrow-up-square:before {
  content: "\e991";
}
.moon-arrow-down-square:before {
  content: "\e992";
}
.moon-arrow-left-square:before {
  content: "\e993";
}
.moon-arrow-right-square:before {
  content: "\e994";
}
.moon-chevron-up-square:before {
  content: "\e995";
}
.moon-chevron-down-square:before {
  content: "\e996";
}
.moon-chevron-left-square:before {
  content: "\e997";
}
.moon-chevron-right-square:before {
  content: "\e998";
}
.moon-check-square:before {
  content: "\e999";
}
.moon-cross-square:before {
  content: "\e99a";
}
.moon-menu-square:before {
  content: "\e99b";
}
.moon-prohibited:before {
  content: "\e99c";
}
.moon-circle:before {
  content: "\e99d";
}
.moon-radio-button:before {
  content: "\e99e";
}
.moon-ligature:before {
  content: "\e99f";
}
.moon-text-format:before {
  content: "\e9a0";
}
.moon-text-format-remove:before {
  content: "\e9a1";
}
.moon-text-size:before {
  content: "\e9a2";
}
.moon-bold:before {
  content: "\e9a3";
}
.moon-italic:before {
  content: "\e9a4";
}
.moon-underline:before {
  content: "\e9a5";
}
.moon-strikethrough:before {
  content: "\e9a6";
}
.moon-highlight:before {
  content: "\e9a7";
}
.moon-text-align-left:before {
  content: "\e9a8";
}
.moon-text-align-center:before {
  content: "\e9a9";
}
.moon-text-align-right:before {
  content: "\e9aa";
}
.moon-text-align-justify:before {
  content: "\e9ab";
}
.moon-line-spacing:before {
  content: "\e9ac";
}
.moon-indent-increase:before {
  content: "\e9ad";
}
.moon-indent-decrease:before {
  content: "\e9ae";
}
.moon-text-wrap:before {
  content: "\e9af";
}
.moon-pilcrow:before {
  content: "\e9b0";
}
.moon-direction-ltr:before {
  content: "\e9b1";
}
.moon-direction-rtl:before {
  content: "\e9b2";
}
.moon-page-break:before {
  content: "\e9b3";
}
.moon-page-break2:before {
  content: "\e9b4";
}
.moon-sort-alpha-asc:before {
  content: "\e9b5";
}
.moon-sort-alpha-desc:before {
  content: "\e9b6";
}
.moon-sort-numeric-asc:before {
  content: "\e9b7";
}
.moon-sort-numeric-desc:before {
  content: "\e9b8";
}
.moon-sort-amount-asc:before {
  content: "\e9b9";
}
.moon-sort-amount-desc:before {
  content: "\e9ba";
}
.moon-sort-time-asc:before {
  content: "\e9bb";
}
.moon-sort-time-desc:before {
  content: "\e9bc";
}
.moon-sigma:before {
  content: "\e9bd";
}
.moon-pencil-line:before {
  content: "\e9be";
}
.moon-hand:before {
  content: "\e9bf";
}
.moon-pointer-up:before {
  content: "\e9c0";
}
.moon-pointer-right:before {
  content: "\e9c1";
}
.moon-pointer-down:before {
  content: "\e9c2";
}
.moon-pointer-left:before {
  content: "\e9c3";
}
.moon-finger-tap:before {
  content: "\e9c4";
}
.moon-fingers-tap:before {
  content: "\e9c5";
}
.moon-reminder:before {
  content: "\e9c6";
}
.moon-fingers-crossed:before {
  content: "\e9c7";
}
.moon-fingers-victory:before {
  content: "\e9c8";
}
.moon-gesture-zoom:before {
  content: "\e9c9";
}
.moon-gesture-pinch:before {
  content: "\e9ca";
}
.moon-fingers-scroll-horizontal:before {
  content: "\e9cb";
}
.moon-fingers-scroll-vertical:before {
  content: "\e9cc";
}
.moon-fingers-scroll-left:before {
  content: "\e9cd";
}
.moon-fingers-scroll-right:before {
  content: "\e9ce";
}
.moon-hand2:before {
  content: "\e9cf";
}
.moon-pointer-up2:before {
  content: "\e9d0";
}
.moon-pointer-right2:before {
  content: "\e9d1";
}
.moon-pointer-down2:before {
  content: "\e9d2";
}
.moon-pointer-left2:before {
  content: "\e9d3";
}
.moon-finger-tap2:before {
  content: "\e9d4";
}
.moon-fingers-tap2:before {
  content: "\e9d5";
}
.moon-reminder2:before {
  content: "\e9d6";
}
.moon-gesture-zoom2:before {
  content: "\e9d7";
}
.moon-gesture-pinch2:before {
  content: "\e9d8";
}
.moon-fingers-scroll-horizontal2:before {
  content: "\e9d9";
}
.moon-fingers-scroll-vertical2:before {
  content: "\e9da";
}
.moon-fingers-scroll-left2:before {
  content: "\e9db";
}
.moon-fingers-scroll-right2:before {
  content: "\e9dc";
}
.moon-fingers-scroll-vertical3:before {
  content: "\e9dd";
}
.moon-border-style:before {
  content: "\e9de";
}
.moon-border-all:before {
  content: "\e9df";
}
.moon-border-outer:before {
  content: "\e9e0";
}
.moon-border-inner:before {
  content: "\e9e1";
}
.moon-border-top:before {
  content: "\e9e2";
}
.moon-border-horizontal:before {
  content: "\e9e3";
}
.moon-border-bottom:before {
  content: "\e9e4";
}
.moon-border-left:before {
  content: "\e9e5";
}
.moon-border-vertical:before {
  content: "\e9e6";
}
.moon-border-right:before {
  content: "\e9e7";
}
.moon-border-none:before {
  content: "\e9e8";
}
.moon-ellipsis:before {
  content: "\e9e9";
}